* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

#special-body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.welcome {
  top: 0;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/toile2020gde.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
}
.welcome__alice {
  font-size: 5em;
  background-color: #000000;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: block;
}

.zoom {
  animation: scale 40s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.page-debut {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 3vw;
  transform: translate(-50%, -50%);
}
.page-debut__heading {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: 2%;
  background-color: #000000;
  color: #fff;
  font-size: 3em;
  margin: 5px;
  max-width: 110px;
  padding: 5px;
}

.header {
  border-bottom: solid;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 15vh;
}
.header__larmes {
  margin-right: 10vw;
}
.header__larmes__yeux {
  height: 14vh;
  margin: 5%;
}
.header__nav {
  display: flex;
  flex: auto;
}
.header__nav--ul {
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-left: 20%;
  padding: 2px;
}
.header__nav__link {
  flex: auto;
  display: block;
  margin: auto;
  padding: 2px;
}

#body-paint {
  width: 95%;
  margin: auto;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  z-index: -1;
  width: 50%;
  margin-bottom: 1.5%;
}

.grid-item--width2 {
  width: 101%;
}

.grid-item--width3 {
  width: 32.5%;
}

.grid-item--row {
  display: flex;
  flex: auto;
}

.grid-item {
  float: right;
}

.grid-item img {
  display: block;
  max-width: 97%;
}

.container {
  overflow-y: scroll;
  display: flex;
  margin-top: 3vh;
}

.presentation {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
.presentation__title {
  margin-top: 3vh;
  font-weight: bold;
  font-size: 2em;
}
.presentation__text {
  margin-top: 3vh;
  font-size: 1em;
}

.footer {
  margin-top: 3vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.footer__img--logo {
  width: 40px;
}

.project {
  overflow-y: hidden;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project__list {
  margin-top: 20%;
  height: 100vh;
}
.project__list__element {
  margin-top: 1vh;
}
.project__img {
  margin-top: 5vh;
}
.project__img--sizer {
  width: 40vw;
}

.demos__proj {
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100vh;
}
.demos__proj__title {
  font-size: 2em;
  background-color: black;
  color: white;
  width: 100%;
}
.demos__proj__bloc {
  display: flex;
  flex-direction: row;
}
.demos__proj__bloc__text {
  width: 30vw;
}
.demos__proj__bloc__illubloc {
  width: 50vw;
}
.demos__proj__bloc__illubloc--img {
  width: 20vw;
}

/*# sourceMappingURL=style.css.map */
