$font-stack:Helvetica, sans-serif;
$primary-color: #333;
$name-color: #fff;


*{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
}

#special-body {
  font: 100% $font-stack;
  color:$primary-color;
  margin: 0px;
  padding: 0px;
    overflow: hidden;
}

body {
  font: 100% $font-stack;
  color:$primary-color;

}

.welcome {
  top: 0;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/toile2020gde.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: block;
  &__alice{
    font-size: 5em;
    background-color: #000000;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
  }
}





.zoom {
  animation: scale 40s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}


.page-debut {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 3vw;
  transform: translate(-50%, -50%);

  &__heading{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 2%;
    background-color: #000000;
    color : $name-color;
    font-size: 3em;
    margin: 5px;
    max-width: 110px;
    padding: 5px;
  }
}

.header{
  border-bottom:  solid;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 15vh;
  &__larmes{
    margin-right: 10vw;
    &__yeux{
      height: 14vh;
      margin: 5%;
    }
  }
  &__nav{
    display: flex;
    flex:auto;
    &--ul {
      display: flex;
      flex:auto;
      flex-direction: row;
      margin-left: 20%;
      padding: 2px;
    }

    &__link{
      flex: auto;

      display: block;
      margin:auto;
      padding: 2px;

    }
  }
}



 // PEINTURE
#body-paint{
  width:95%;
  margin:auto;
}
 .grid:after {
   content: '';
   display: block;
   clear: both;
 }

 /* ---- .grid-item ---- */

 .grid-sizer,
 .grid-item {
   z-index: -1;
   width: 50%;
   margin-bottom: 1.5%;

 }
.grid-item--width2 { width: 101%; }
.grid-item--width3 {
  width: 32.5%;

 }
.grid-item--row {
  display: flex;
  flex:auto;
}
 .grid-item {
   float: right;
 }

 .grid-item img {
   display: block;
   max-width: 97%;
 }


 // wall
 .container{
   overflow-y: scroll;
   display: flex;
   margin-top: 3vh;
 }

 .presentation{
   margin-right: auto;
   margin-left: auto;
   width:60%;
   &__title{
        margin-top: 3vh;
     font-weight: bold;
     font-size:2em;
   }
   &__text{
    margin-top: 3vh;
     font-size:1em;
   }
 }

 .footer {
   margin-top: 3vh;
   width :60%;
   margin-left :auto;
   margin-right: auto;

   &__img{
     &--logo{
       width:40px;
     }
   }

 }

 //Code

 .project{
   overflow-y: hidden;
   width:80%;
   margin:auto;
   display:flex;
   flex-direction: row;
   justify-content: space-between;

   &__list{
     margin-top: 20%;
     height:100vh;
     &__element{
       margin-top: 1vh;
     }

   }
   &__img{
     margin-top: 5vh;
     &--sizer{
       width:40vw;
     }
   }
 }

 .demos__proj{
   overflow-y: hidden;
   margin-left: auto;
   margin-right: auto;
   width:80%;
   height: 100vh;

    &__title{
     font-size: 2em;
     background-color: black;
     color: white;
     width:100%;
   }
   &__bloc{
     display: flex;
     flex-direction: row;
    &__text{
     width:30vw;
   }
    &__illubloc{
     width:50vw;
      &--img{
       width: 20vw;
     }
   }
 }
}
